#
# taken into account by: svn propset svn:ignore -F svn.ignore .
#
.installed.cfg
.mr.developer.cfg
.python-version
bin/*
buildout.log
develop-eggs
downloads
eggs
fake-eggs
include
lib
logrotate.conf
parts
python-eggs
src
uuid.txt
var/blobstorage/*
var/filestorage/*
var/log/*
versions-picked.cfg
