#
# taken into account by: svn propset svn:ignore -F svn.ignore .
#
.installed.cfg
develop-eggs
downloads
eggs
fake-eggs
include
lib
logrotate.conf
parts
python-eggs
src
versions-picked.cfg
.mr.developer.cfg
.svn/
bin/
var/
active
local/
migrate-mount-point-*.sh
pip-selfcheck.json
port*/
puppet-buildout-*.log
send-blobsize.sh
share/
svn.ignore
test.cfg
urban/
uuid.txt
