[buildout]

extensions =
    mr.developer
dump-picked-versions-file = versions-picked.cfg
overwrite-picked-versions-file = true

newest = false

parts =
    omelette
    instance1
    zopepy
    repozo

# If you want to get the last versions of eggs, you have to comment the line "versions-prod.cfg"
extends = 
    http://dist.plone.org/release/4.3.20/versions.cfg
    versions-base.cfg
    sphinx.cfg
    port.cfg

versions=versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.3.20
    http://dist.plone.org/thirdparty
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

# Add additional eggs here
# elementtree is required by Plone
eggs =
    Plone
    Pillow
    Products.PasswordStrength 
    Products.PasswordResetTool 
    zope.app.component
    imio.pyutils
    plone.restapi
#    PyXML
#- hotfix -#
    Products.PloneHotfix20210518  # <= 4.3, <= 5.2.4
    zeep
    appy

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

sources = sources
sources-dir = src
auto-checkout = Products.urban
                collective.archetypes.select2
                collective.faceted.task
                collective.wfadaptations
                collective.z3cform.select2
                imio.history
                imio.pm.locales
                imio.schedule
                imio.urban.core
                imio.dashboard
                urban.restapi
                urban.vocabulary
                plone.app.contenttypes
                plonetheme.imioapps
                appy

# Only take stable eggs
#prefer-final = true

# Always unzip eggs
unzip = true

[remotes]
imio = https://github.com/IMIO
imio_push = git@github.com:IMIO

[sources]
Products.urban = git ${remotes:imio}/Products.urban.git rev=9bcb49d642b824438a2674eeb4b6960f2681b299
appy = git ${remotes:imio}/appy.git rev=d75ed1526d862f573e9259232c95acfc6a9baef1
collective.archetypes.select2 = git ${remotes:imio}/collective.archetypes.select2 pushurl=${remotes:imio_push}/collective.archetypes.select2.git rev=3419cac4ff4373617dbbea72186ab4498347852c
collective.faceted.task = git ${remotes:imio}/collective.faceted.task pushurl=${remotes:imio_push}/collective.faceted.task.git rev=b41501766722f95631cafb5e8af2e847a7e22081
collective.wfadaptations = git https://github.com/collective/collective.wfadaptations.git rev=4ab9d0df77aa42b14a830c001b3a914571c1f104
collective.z3cform.select2 = git https://github.com/collective/collective.z3cform.select2.git pushurl=git@github.com:collective/collective.z3cform.select2.git rev=ab794a1cc01a18664b6f9915ee435b38d74a07c4
imio.dashboard = git ${remotes:imio}/imio.dashboard rev=1fa43ff4c54fd0b321aa84a30f73f2bff57d1277
imio.history = git ${remotes:imio}/imio.history pushurl=${remotes:imio_push}/imio.history.git rev=d75d2d7c3374d46414d1e656c44f425e220e1734
imio.pm.locales = git ${remotes:imio}/imio.pm.locales.git rev=48f20a5de21e512e7a8391f632ca7b4d1cb0fa2b
imio.schedule = git ${remotes:imio}/imio.schedule.git rev=43ef1d6ad75550e5c855370d38a55ef551b00608
imio.urban.core = git ${remotes:imio}/imio.urban.core.git rev=6f7908ede537056d0888c5d5db2f4699a1e2008e
plone.app.contenttypes = git https://github.com/plone/plone.app.contenttypes rev=5b4cde7705d7664263982f59f9e837b436e62c7b
plonetheme.imioapps = git ${remotes:imio}/plonetheme.imioapps.git rev=a5a8556b181ca60dea1c2b4a5bc1dd840f6c3ed4
urban.restapi = git ${remotes:imio}/urban.restapi.git pushurl=${remotes:imio_push}/urban.restapi.git rev=e3c15b31642eaac2a9c223502c97310f0225cc07
urban.vocabulary = git ${remotes:imio}/urban.vocabulary.git pushurl=${remotes:imio_push}/urban.vocabulary.git rev=38a3021a48c295aa1dd73c8f322eb947595cd70e

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance1:eggs}
    ${buildout:eggs}
products = ${instance1:products}
#packages = ${zope2:location}/lib/python ./

[instance1]
recipe = plone.recipe.zope2instance
#effective-user = 
user = admin:admin
http-address = 8081
zserver-threads = 2
debug-mode = off
verbose-security = off
zope-conf-additional =
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
  <clock-server>
      method /${port:plone-path}/@@cron-tick
      period 60
      user admin
      password ${port:admin-password}
  </clock-server>

environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    Plone
    Products.MasterSelectWidget
    Products.ContentTypeValidator
    Products.urban
    Genshi
    collective.ckeditor
    collective.iconifieddocumentactions
    communesplone.layout
    psycopg2
    plone.app.contenttypes [atrefs]  # <- for dx migration
    imio.pm.locales
    imio.actionspanel
    imio.schedule
    imio.urban.core
    imio.dashboard
    plonetheme.imioapps
    appy

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    collective.ckeditor
    collective.iconifieddocumentactions
    imio.pm.locales
    imio.actionspanel

products =
    ${buildout:directory}/products

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance1:eggs}
interpreter = zopepy
scripts = zopepy

[templates]
recipe = zc.recipe.egg:scripts
eggs = Products.urban [templates]

[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo

[debug]
eggs =
    ipdb
    iw.debug
    profilehooks
zcml =
    iw.debug
