[buildout]

extensions =
    mr.developer
dump-picked-versions-file = versions-picked.cfg
overwrite-picked-versions-file = true

newest = false

parts =
    omelette
    instance1
    zopepy
    repozo

# If you want to get the last versions of eggs, you have to comment the line "versions-prod.cfg"
extends = 
    http://dist.plone.org/release/4.3.20/versions.cfg
    versions-base.cfg
    sphinx.cfg
    port.cfg

versions=versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.3.20
    https://eggs.imio.be/find-links/common/

# Add additional eggs here
# elementtree is required by Plone
eggs =
    Plone
    Pillow
    Products.PasswordStrength 
    Products.PasswordResetTool 
    zope.app.component
    plone.restapi
    Products.PloneHotfix20150910  # <= 3.3, <= 5.0rc1
    Products.PloneHotfix20151208  # <= 3.3, <= 5.0
    Products.PloneHotfix20160419  # <= 3.3, <= 5.1a1
    Products.PloneHotfix20160830  # <= 3.3, <= 5.1a1
    Products.PloneHotfix20161129  # <= 2.5.5, <= 5.1a2
    Products.PloneHotfix20170117  # <= 2.5.5, <= 5.1a2
#    Products.Zope_Hotfix_20110622  # <= 3.3.5 , <= 4.0.7, <= 4.1rc3
    collective.upgrade
    suds_jurko

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

sources = sources
sources-dir = src
auto-checkout =

# Only take stable eggs
#prefer-final = true

# Always unzip eggs
unzip = true

[remotes]
imio = https://github.com/IMIO
imio_push = git@github.com:IMIO
collective = https://github.com/collective
collective_push = git@github.com:collective
plone = https://github.com/plone
plone_push = git@github.com:plone
zope = https://github.com/zopefoundation
zope_push = git@github.com:zopefoundation

[sources]
Products.urban = git ${remotes:imio}/Products.urban.git pushurl=${remotes:imio_push}/Products.urban.git branch=3.0.x-liege
collective.archetypes.select2 = git ${remotes:imio}/collective.archetypes.select2.git pushurl=${remotes:imio_push}/collective.archetypes.select2.git
collective.behavior.talcondition = git ${remotes:collective}/collective.behavior.talcondition pushurl=${remotes:collective_push}/collective.behavior.talcondition.git
collective.big.bang = git ${remotes:collective}/collective.big.bang.git pushurl=${remotes:collective_push}/collective.big.bang.git
collective.compoundcriterion = git ${remotes:collective}/collective.compoundcriterion.git pushurl=${remotes:collective_push}/collective.compoundcriterion.git
collective.documentgenerator = git ${remotes:collective}/collective.documentgenerator.git pushurl=${remotes:collective_push}/collective.documentgenerator.git
collective.eeafaceted.collectionwidget = git ${remotes:collective}/collective.eeafaceted.collectionwidget.git pushurl=${remotes:collective_push}/collective.eeafaceted.collectionwidget.git
collective.eeafaceted.dashboard = git ${remotes:collective}/collective.eeafaceted.dashboard.git pushurl=${remotes:collective_push}/collective.eeafaceted.dashboard.git
collective.eeafaceted.z3ctable = git ${remotes:collective}/collective.eeafaceted.z3ctable.git pushurl=${remotes:collective_push}/collective.eeafaceted.z3ctable.git
collective.excelexport = git ${remotes:collective}/collective.excelexport pushurl=${remotes:collective_push}/collective.excelexport.git
collective.faceted.datewidget = git ${remotes:imio}/collective.faceted.datewidget pushurl=${remotes:imio_push}/collective.faceted.datewidget.git
collective.faceted.task = git ${remotes:imio}/collective.faceted.task pushurl=${remotes:imio_push}/collective.faceted.task.git
collective.fingerpointing = git ${remotes:collective}/collective.fingerpointing.git pushurl=${remotes:collective_push}/collective.fingerpointing.git
collective.iconifieddocumentactions = git ${remotes:imio}/collective.iconifieddocumentactions pushurl=${remotes:imio_push}/collective.iconifieddocumentactions.git
collective.messagesviewlet = git ${remotes:collective}/collective.messagesviewlet pushurl=${remotes:collective_push}/collective.messagesviewlet.git
collective.quickupload = git ${remotes:collective}/collective.quickupload pushurl=${remotes:collective_push}/collective.quickupload.git
collective.task = git ${remotes:collective}/collective.task pushurl=${remotes:collective_push}/collective.task.git
collective.wfadaptations = git ${remotes:collective}/collective.wfadaptations pushurl=${remotes:collective_push}/collective.wfadaptations.git
collective.z3cform.select2 = git ${remotes:collective}/collective.z3cform.select2.git pushurl=${remotes:collective_push}/collective.z3cform.select2.git
eea.facetednavigation = git ${remotes:collective}/eea.facetednavigation.git pushurl=${remotes:collective_push}/eea.facetednavigation.git
eea.jquery = git ${remotes:collective}/eea.jquery.git pushurl=${remotes:collective_push}/eea.jquery.git
imio.actionspanel = git ${remotes:imio}/imio.actionspanel.git pushurl=${remotes:imio_push}/imio.actionspanel.git
imio.dashboard = git ${remotes:imio}/imio.dashboard.git pushurl=${remotes:imio_push}/imio.dashboard.git
imio.helpers = git ${remotes:imio}/imio.helpers.git pushurl=${remotes:imio_push}/imio.helpers.git
imio.history = git ${remotes:imio}/imio.history pushurl=${remotes:imio_push}/imio.history.git
imio.migrator = git ${remotes:imio}/imio.migrator pushurl=${remotes:imio_push}/imio.migrator.git
imio.urban.core = git ${remotes:imio}/imio.urban.core pushurl=${remotes:imio_push}/imio.urban.core.git
imio.pm.locales = git ${remotes:imio}/imio.pm.locales.git pushurl=${remotes:imio_push}/imio.pm.locales.git
imio.pm.wsclient = git ${remotes:imio}/imio.pm.wsclient.git pushurl=${remotes:imio_push}/imio.pm.wsclient.git
imio.prettylink = git ${remotes:imio}/imio.prettylink.git pushurl=${remotes:imio_push}/imio.prettylink.git
imio.pyutils = git ${remotes:imio}/imio.pyutils pushurl=${remotes:imio_push}/imio.pyutils.git
imio.schedule = git ${remotes:imio}/imio.schedule.git pushurl=${remotes:imio_push}/imio.schedule.git
liege.urban = git ${remotes:imio}/liege.urban.git pushurl=${remotes:imio_push}/liege.urban.git
plone.formwidget.namedfile = git ${remotes:zope}/plone.formwidget.namedfile.git pushurl=${remotes:zope_push}/plone.formwidget.namedfile.git
plonetheme.imioapps = git ${remotes:imio}/plonetheme.imioapps.git pushurl=${remotes:imio_push}/plonetheme.imioapps.git
urban.events = git ${remotes:imio}/urban.events.git pushurl=${remotes:imio_push}/urban.events.git branch=main
urban.restapi = git ${remotes:imio}/urban.restapi.git pushurl=${remotes:imio_push}/urban.restapi.git
urban.schedule = git ${remotes:imio}/urban.schedule.git pushurl=${remotes:imio_push}/urban.schedule.git branch=main
urban.vocabulary = git ${remotes:imio}/urban.vocabulary.git pushurl=${remotes:imio_push}/urban.vocabulary.git
z3c.table = git ${remotes:zope}/z3c.table.git pushurl=${remotes:zope_push}/z3c.table.git

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance1:eggs}
    ${buildout:eggs}
products = ${instance1:products}
#packages = ${zope2:location}/lib/python ./

[instance1]
recipe = plone.recipe.zope2instance
#effective-user = 
user = admin:${port:admin-password}
http-address = 8081
zserver-threads = 2
debug-mode = off
verbose-security = off
zope-conf-additional =
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
  <clock-server>
      method /${port:plone-path}/@@cron-tick
      period 86400
      user admin
      password ${port:admin-password}
  </clock-server>

environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true
  URBAN_EVENTS_CONFIGS default,liege
  URBAN_SCHEDULE_CONFIGS default,liege
  URBAN_DASHBOARD_CONFIGS liege

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    Products.urban[numpy]
    liege.urban
    collective.ckeditor
    collective.documentgenerator
    collective.iconifieddocumentactions
    communesplone.layout
    Genshi
    imio.actionspanel
    imio.dashboard
    imio.pm.locales
    imio.pm.wsclient
    imio.schedule
    Plone
    plonetheme.imioapps
    Products.MasterSelectWidget
    Products.ContentTypeValidator
    psycopg2
    collective.exportimport
    plone.app.contenttypes [atrefs]  # <- for dx migration
    appy
    collective.big.bang

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    liege.urban
    collective.ckeditor
    collective.iconifieddocumentactions
    imio.actionspanel
    imio.pm.locales
    imio.pm.wsclient
    plonetheme.imioapps
    collective.exportimport
    collective.big.bang

products =
    ${buildout:directory}/products

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance1:eggs}
interpreter = zopepy
scripts = zopepy

[templates]
recipe = zc.recipe.egg:scripts
eggs = Products.urban [templates]

[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo

[debug]
eggs =
    ipdb
    iw.debug
    profilehooks
zcml =
    iw.debug
