[buildout]

extensions = buildout.dumppickedversions
dump-picked-versions-file = versions-picked.cfg
overwrite-picked-versions-file = true
allow-picked-versions = false

parts =
    productdistros
    svnproducts
    bzr
    omelette
#    filestorage
    instance
    test
    zopepy
    logrotate

# If you want to get the last versions of eggs, you have to comment the line "versions-prod.cfg"
extends = 
    http://dist.plone.org/release/4.1.4/versions.cfg
    versions-prod.cfg

versions=versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.1.4
    http://dist.plone.org/thirdparty
    http://packages.communesplone.be/simple
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://b.pypi.python.org
    http://c.pypi.python.org
    http://d.pypi.python.org

# Add additional eggs here
# elementtree is required by Plone
eggs =
    Plone
    Pillow
#    PyXML
    appy

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/Products.urban
    src/Products.urbanskin
    src/communesplone.layout
    src/communesplone.schedule
    src/communesplone.urban.schedule
    src/plone.app.referenceintegrity
    src/plone.app.linkintegrity

# Only take stable eggs
#prefer-final = true

# Always unzip eggs
unzip = true

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.

[productdistros]
recipe = plone.recipe.distros
urls = 
nested-packages = 
version-suffix-packages = 

[svnproducts]
recipe = infrae.subversion
urls =
    http://svn.communesplone.org/svn/communesplone/CPUtils/trunk CPUtils
    http://svn.communesplone.org/svn/communesplone/ZopeRepository@9389 ZopeRepository

[bzr]
recipe = gf.recipe.bzr
urls =
    http://bazaar.launchpad.net/~communesplone/appy/communesplone appy
in_parts = True

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance:eggs}
    ${buildout:eggs}
products = ${instance:products}
#packages = ${zope2:location}/lib/python ./

[instance]
recipe = plone.recipe.zope2instance
#effective-user = 
user = admin:admin
http-address = 8080
blob-storage = var/blobstorage
#debug-mode = on
verbose-security = on
zope-conf-additional =
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
  %include ${buildout:directory}/zope_add.conf
environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    Plone
    Products.MasterSelectWidget
    Products.csvreplicata
    Products.urban
    Products.urbanskin
    communesplone.layout
    communesplone.schedule
    communesplone.urban.schedule
    psycopg2
    plone.app.linkintegrity
    plone.app.referenceintegrity
#- optimization -#
    archetypes.schematuning
#- debug -#
    Products.Clouseau
    Products.DocFinderTab
    plone.reload
    ipdb
#    iw.debug

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    communesplone.urban.schedule
#    iw.debug
    plone.app.linkintegrity
    plone.app.referenceintegrity

products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${svnproducts:location}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[logrotate]
recipe = collective.recipe.template
input = templates/logrotate.conf
output = ${buildout:directory}/logrotate.conf

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    Products.urban [test]
environment = testenv

[testenv]
zope_i18n_compile_mo_files = true

[templates]
recipe = zc.recipe.egg:scripts
eggs = Products.urban [templates]
